<div class="container py-5">
  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold">Bienvenido al Restaurante <br>Código Comida</h1>
    <p class="lead">Selecciona una de las opciones del menú para continuar</p>
  </div>

  <div class="row g-4 justify-content-center">
    <div class="col-md-3">
      <a routerLink="/user/" class="text-decoration-none">
        <div class="card shadow-sm h-100 text-center">
          <div class="card-body">
            <i class="bi bi-house-door display-4 mb-3"></i>
            <h5 class="card-title">Usuarios</h5>
          </div>
        </div>
      </a>
    </div>

  <div class="col-md-3">
    <a routerLink="/clientes" class="text-decoration-none">
      <div class="card shadow-sm h-100 text-center">
        <div class="card-body">
          <i class="bi bi-people-fill display-4 mb-3"></i>
          <h5 class="card-title">Clientes</h5>
        </div>
      </div>
    </a>
  </div>


  <div class="col-md-3">
    <a routerLink="/productos" class="text-decoration-none">
      <div class="card shadow-sm h-100 text-center">
        <div class="card-body">
          <i class="bi bi-egg-fried display-4 mb-3"></i>
          <h5 class="card-title">Productos</h5>
        </div>
      </div>
    </a>
  </div>


  <div class="col-md-3">
    <a routerLink="/pedidos" class="text-decoration-none">
      <div class="card shadow-sm h-100 text-center">
        <div class="card-body">
          <i class="bi bi-cart-fill display-4 mb-3"></i>
          <h5 class="card-title">Pedidos</h5>
        </div>
      </div>
    </a>
  </div>

  </div>
</div>

